*{
    font-family: 'Poppins', sans-serif;
    padding:0;
    margin:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #f0f0f0;
    width:100%;
    position:fixed;
    z-index:999;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 200px;
}
.logo{
    text-decoration: none;
    text-transform: uppercase;
    color: #3a6cf4;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    text-decoration: none;
    color:#3a6cf4;
    font-size: 1.1em;
    font-weight: 500px;
    padding-left: 30px;
}
.navigation a:hover{
    color:#601cfc;
}
section{
    padding:100px 200px;
}
.main{
    width:100%;
    min-height: 100vh;
    display:flex;
    align-items: center;
    background: url(/main-qimg-15c71e9ea895fad5d782f295ccd33ed3.jpg);
    background-size:cover;
    background-position:center top;
    background-attachment: fixed;
}
.main h2{
    color: whitesmoke;
    font-size: 1.4em;
}
.main h2 span{
    color:#3a6cf4;
    font-size: 3em;
    font-weight: 600;
    display: inline-block;
    margin-top:10px;
}
.main h3{
    color: whitesmoke;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    display:inline-block;
    background-color:white;
    border-radius: 20px;
    padding: 0.9375em 2.1875em;
    text-decoration: none;
    color: #3a6cf4 ;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing:1px;
    transition:0.7s ease;
    margin-bottom: 40px;
}
.main-btn:hover{
    background-color: #3a6cf4;
    color: whitesmoke;
    transform:scale(1.1)
}
.social-media a{
    color:whitesmoke;
    font-size: 1.7em;
    padding-right: 20px;
    transition:0.3s ease;
}
.social-media a:hover{
    color:#3a6cf4;
}
.title{
    display: flex;
    justify-content: center;
    color: #3a6cf4 ;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom:30px;
}
.content{
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem; */
}
.card{
    background-color: #FDFBFA;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.3s ease;
}
.card:hover {
    transform: scale(1.1);
    background-color:#3a6cf4;
    color:white;
}
.card:hover .icon{
    color: white;
}
.card:hover .info h3{
    color: white;
}
.icon{
    display: flex;
    justify-content: center;
    font-size: 5em;
    color:#3a6cf4
}

.info h3{
    display:flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight:700;
    letter-spacing: 0.8px;
    margin:10px;
}

.info p{
    text-align: center;
}
.projects{
    background-color:#A3D8F4
}
.projects .content{
    margin-top: 30px;
}
.project-card{
    background-color: #fff;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin:20px;
    transition: 0.3s ease;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-card:hover{
    opacity: 0.9;
    color: black;
}


.project-image img{
    width: 100%;
    height: 250px;
}
.project-info{
    padding: 1em;
}
.project-cat{
    font-size: 0.8em;

}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.project-title span i{
    margin-left: 5px;
}
.more-details{
    text-decoration:none;
    color:#3a6cf4;
}
.more-details:hover{
    color: #A100FF;
}
.more-details span{
    margin-left: 5px;
}
.footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}
.footer-title{
    color: white;
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span{
    color: #3a6cf4;
}
.footer .social-media a{
    font-size: 1.3em;
    padding:0px 12px;
}
.contact .card{
    cursor: pointer;
}
/* phone model styling */
.model-container{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}
.model{
    background-color: white;
    width: 500px;
    max-width: 100%;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 30px;
    margin: 15px;
    text-align: center;
    color:#3a6cf4 ;
}
.model h1{
    padding: 20px 0px;
}
.model span{
    color: #3a6cf4;
    margin-left: 10px;
}
.model p{
    margin-top: 10px 0px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 1px;
    color: #3a6cf4;
    transition: 0.7s ease;
}
.btn button{
    margin-top: 10px;
    display:inline-block;
    background-color:#3a6cf4;
    border: none;
    border-radius: 20px;
    padding: 0.6375em 2.1875em;
    text-decoration: none;
    color: white ;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing:1px;
    transition:0.7s ease;
    cursor: pointer;
}
/* email model styling  */
.model-container-email{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}


.email-model{
    background-color: white;
    width: 500px;
    max-width: 100%;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}
.email-model h1{
    color: #3a6cf4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.email-model form input, textarea{
    padding: 15px;
    margin: 15px;
    border-radius: 20px;
    outline: none;
    border: 0;
    background-color: #f5f5f5;
}
.email-model textarea{
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    border-radius: 20px;
    padding: 20px;
}
.form-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-btn button{
    margin-top: 10px;
    margin-bottom: 10px;
    /* display:inline-block; */
    background-color:#3a6cf4;
    border: none;
    border-radius: 20px;
    padding: 0.6375em 2.1875em;
    text-decoration: none;
    color: white ;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing:1px;
    transition:0.7s ease;
    cursor: pointer;
    transition:0.5s ease; 
}
.form-btn button:hover{
    transform:scale(1.2);
}
.submit-btn{
    background-color: #A100FF;
    margin-top: 10px;
    margin-bottom: 10px;
    /* display:inline-block; */
    background-color:#3a6cf4;
    border: none;
    border-radius: 20px;
    padding: 0.6375em 2.1875em;
    text-decoration: none;
    color: white ;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing:1px;
    transition:0.7s ease;
    cursor: pointer;
    transition:0.5s ease; 
}
@media (max-width:1023px){

    header{
        padding:12px 10px;
    }
    .navigation a{
        font-size: 0.8em;
        padding-left: 5px;
    }
    .logo{
        font-size: 1.5em;
    }
    title{
        font-size:1.8em;
    }
    section{
        padding: 80px 10px;
    }
    .main h2{
        font-size: 1em;
        color: white;
    }
    .main h3{
        font-size: 1.6em;
        color: white;
    }
    .main .social-media a{
        color: white;
    }
    .main .social-media a:hover{
        color: #3a6cf4;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main h2{
        font-size: 0.8em;
    }

    .main h3{
        font-size: 1.4em;
    }
}
